<! The main page, showing the blog entries >
{% extends "layout.html" %}
{% block body %}

<h1> Deleted Entries </h1>
<ul class=entries>

{% for entry in entries %}
<li><h2>{{entry.username}}: {{ entry.title }} - {{entry.score}} point(s)</h2>
<h3  name=time>{{ entry.time }}</h3>
{% if entry.forum < 6 %}
<h3>Science Forum {{ entry.forum }}</h3>
{% else %}
<h3>Media Forum {{ entry.forum - 5 }}</h3>
{% endif %}
<br>{{ entry.text|safe }}

{% if session.admin == True and session.logged_in %}
<form action="{{ url_for('restore_staged') }}"  method=post class=delete-entry>
<br><button style="float:center;" type="submit" value={{entry.etime}} name="stage">Restore to staged</button>
</form>

<form action="{{ url_for('restore_post') }}"  method=post class=delete-entry>
<button style="float:center;"  type="submit" value={{entry.etime}} name="post">Restore to forum</button>
</form>

{% endif %}
{% else %}
<li><em> No deleted entries</em>
{% endfor %}
</ul>
{% endblock %}
