<div align="center"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml">


<head>
<link rel="stylesheet" type="text/css" href="style.css"/>

<TITLE>SETI Cipher 2014</TITLE>
<link rel="icon" type="image/png" href="alienhead2.PNG" />
</head>


<body>

 


			<div id="top_banner">
	
			

				<a href="http://www.twitter.com/seti_code">
			
<img src="twitterstar.png" width="79" height="79" alt="home"  title="logo" border="0" class="logo" align="left" target="_blank" />
	
			</a>
				<a href="http://www.facebook.com/SotonAstrodome" target="_blank">
				
<img src="facebookstar.png" width="79" height="79" alt="home"  title="logo" border="0" class="logo"align="left" target="_blank"/>
				
</a>
				<a href="mailto:seti@soton.ac.uk" target="_blank">
				
<img src="mailstar.png" width="79" height="79" alt="home" align="left" title="logo" border="0" class="logo" />

				
<a href="index.html"><img href="http://www.soton.ac.uk/" src="logo_big_white.png"  width="293" align="right" height="79" 
title="logo" border="0" class="logo" /></a>

<p>
</p><p>
</p>

	
			
</a>
<p>
</p>
			</div>
  


		  
<div id="templatemo_menu">
<p>
</p>
            		<p>
</p><p>
</p><ul>
            	        
<li class="current">
                        	
<a href="index.html">Home</a>
                            
                        </li>
 
       	            <li>
                        	<a href="IntroSadie.html" target="_parent">Intro</a>
                         
					  </li>
                        <li>
                        	<a href="RulesSadie.html">Rules</a>
                            
						</li>
        	           
 <li>
                        	<a href="RegisterSadie.html">Register</a>
                            
						
</li>
                        <li>
                        	<a href="ForumSadie.html">Forum</a>
                            
						
</li>
   					<li>
                                    <a href="ScoreBoardSadie.html">Score Board</a>
                            
						</li>

<li>
                                    <a href="Prizes.html">Prizes</a>
                            
						</li>

			 <li class="last">
                        	
<a href="LinksSadie.html">Links</a>
                       
						</li>
    	            </ul> 
<p>
</p>
	            

</div>


<div id="main_content">

<p>
</p>
<div class="title">
						SETI Cipher Challenge 2014
					

</div>
<div id="page_content_left">
				
				
					
	<p>

</p>	
			

<img alt="" src="news24b.jpg"  border="0" width="490" height="300">  

</div>




<div id="page_content_right">
				


<p></p>
	<div class="title2">BREAKING NEWS</div>

<p>
		
<div class="title3">
<p>
Shock news from astronomers who have today 
announced that they have detected a signal of extra terrestrial origin.
The message, if that is what 
it is, is coming from the Northern Sky. 
The signal consists of a series of pulsed radio waves that the 
scientists claim cannot be of natural origin.</p>

<p>
 No translation of the
 signal has yet been made and as a result of this the 
astronomers will release their data in stages to registered members 
of the public at 
10am on the 14th, 15th, 16th, 17th and 
18th July 2014.</p>
<p>
Can you help #BreakTheCode ?
<p>
	
	</div>			
	<p></p>
	<p></p>
</div>

					
<div class="title2">
						
Challenge Complete!!! Click on the link above to see the prize allocation!!
<p></p>
	</div>


</div>


<div id="page_bottom">

<p>
</p>
<p></p>

<p></p>
<p></p>

<p></p>
<p></p>

<p></p>
<p></p>	
			<a href="http://www.saao.ac.za/">  
<img alt="" src="saao.jpg"  border="0" width="150" height="80" align="center"> 
</a>
<a href="http://www.ska.ac.za/"> 
<img alt="" src="ska.jpg"  border="0" width="150" height="80"align="center"> </a>
<a href="https://www.chu.cam.ac.uk/"> 
<img alt="" src="church.png"  border="0" width="150" height="80"align="center"> </a> 
<a href="http://www.astro4dev.org/"> 
<img alt="" src="iau_wb.jpg"  border="0" width="150" height="80"align="center"> </a>
					
</div>
			
			
				
				
<p>
</p>
				





</div>

</body>

<div id="eXTReMe"><a href="http://extremetracking.com/open?login=nevans2">
<img src="http://t1.extreme-dm.com/i.gif" style="border: 0;"
height="38" width="41" id="EXim" alt="eXTReMe Tracker" /></a>
<script type="text/javascript"><!--
EXref="";top.document.referrer?EXref=top.document.referrer:EXref=document.referrer;//-->
</script><script type="text/javascript"><!--
var EXlogin='nevans2' // Login
var EXvsrv='s9' // VServer
EXs=screen;EXw=EXs.width;navigator.appName!="Netscape"?
EXb=EXs.colorDepth:EXb=EXs.pixelDepth;EXsrc="src";
navigator.javaEnabled()==1?EXjv="y":EXjv="n";
EXd=document;EXw?"":EXw="na";EXb?"":EXb="na";
EXref?EXref=EXref:EXref=EXd.referrer;
EXd.write("<img "+EXsrc+"=http://e0.extreme-dm.com",
"/"+EXvsrv+".g?login="+EXlogin+"&amp;",
"jv="+EXjv+"&amp;j=y&amp;srw="+EXw+"&amp;srb="+EXb+"&amp;",
"l="+escape(EXref)+" height=1 width=1>");//-->
</script><noscript><div id="neXTReMe"><img height="1" width="1" alt=""
src="http://e0.extreme-dm.com/s9.g?login=nevans2&amp;j=n&amp;jv=n" />

</div></noscript></div>

</HTML>


</div>
