<! The login page >
{% extends "layout.html" %}
{% block body %}
    <h2>Login</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('login') }}" method=post>
        <dl>
            <dt>Username or team email address:
            <dd><input type=text name=username>
            <dt>Password:
            <dd><input type=password name=password>
            <dd><button style="float:center;" type=submit value=Login> Login </button>
        </dl>
    </form>
{% endblock %}
