{% extends "/2015/layout.html" %}
{% block body %}


<h1> PRIZES  </h1>   

<div id="main_content">				
<br>
<h2> SCIENCE PRIZES: </h2>

<p></p><b>First prize (&pound;300) - Cyfra  </b><p>


<img alt="" src="/static/winners/cyfra.JPG"  border="0" height="200">  

<!-- </p><i> First to get four out of five of the ciphers </i> </b><p> -->

</p><b><br>Second Prize (&pound;150) - Internet Explorer 6 </b><p>

<!-- </p><i> Decoding the alien image first and computing the alien day structure </i> </b><p> -->

</p><b><br>Third Prize (&pound;75) - lilemie2 </b><p>
</p>

<img alt="" src="/static/winners/lilemie2.jpg"  border="0" height="200"> 
<!-- </p><i> Getting stuck into the calculations of beam strength and Goldilocks zones and first to identify HD185269 </i> </b><p> -->

<hr>
<h2> MEDIA PRIZES: </h2>

<p></p><b>First prize (&pound;175) - The Differentiators   </b><p>

<!-- </p><i> Outstanding video submissions  </i> </b><p> -->

</p><b><br>Second Prize (&pound;75) - The Protons   </b><p>

<!-- </p><i> Wide range of media presentations from video to a web site   </i> </b><p> -->

</p><b><br>Third Prize (&pound;50) - Cyfra </b><p>
</p>
<!-- </p><i> Cartoons, childrens books and a board game  </i> </b><p> -->

<hr>

</p> <h2> Prizes for Outstanding Contributions (&pound;25): <h2> <p>

<h4> Science </h4>

<li> Bletchley Sharks</li><br>
<li> Strange Quarks</li><br>
<li> Ramanujan</li><br>
<li> Pits</li><br>

<h4> Media </h4>

<li> The Theory of Relativateam </li><br>
<li> Enigma </li><br>
<li> ItsTheTakingPart </li><br>
<li> ACDC </li><br>
<img alt="" src="/static/winners/ACDC.JPG"  border="0" height="200"> 

</p><br> <p>
If you have won a prize but have not been contacted by the SETI Cipher Challenge team, please email us at seti@soton.ac.uk
</p><br> <p>

</div>	
	
</div>




{% endblock %}
