{% extends "layout.html" %}
{% block body %}

<div id="main_content">

<p>
</p>

				<p></p>
	<div class="title2">RULES </div>
	</b>
	<p>
</p>

<li> This is our competition so our decisions on anything are final! 
<p>
</p>
<li> Teams must be made up of 2-5 school students aged 14-18 at a school in the UK, supported by a teacher. There is no limit to the number of teams a school/college can enter.
<p>
</p>
<li> During each day of the competition each team may submit 3 contributions to the Science Forum and 3 contributions to the Media Forum. These submissions will be made on the website forums pages. <p>
</p>
The limit on the number of submissions is partly to stop us from being completely swamped (we have to moderate all submissions and score them) 
but also to encourage carefully thought through submissions (which will score more points).<p>
</p>
<li> When you have submitted an entry
to one of the forums the SETI Cipher Challenge control room team will aim
to mark it within one hour, at which point it will appear in the forum. Once an "idea" is posted no-one else can score for it. <p>
</p>
<li> You can get points on the Science Forum for making novel contributions - these can include decoding the signal, speculating on its meaning, exploring the ramifications
of any aspect of the discovery, reviewing related known facts, etc.
<p>
</p>
<li> You can score points on the Media Forum by submitting media stories of events on Earth triggered by the signals. <p>
</p>
<li> Plaigarism policing - plaigarism (directly copying someone else word for word)  in the real world is a nasty thing (rewriting something
in your own words is fine)- of course we're only a game - but the rule is that if anyone posts something "clearly plaigarised"
(that's in our view) and another team reports it to us, the reporting team wins the points off the plaigarisign team! <p>
</p>
<hr>

To see examples of submissions to both forums and the marks they got, visit
last year's SETI Cipher Challenge website:
<br><br>
<a href="http://www.southampton.ac.uk/~seti/"target="_blank"class="nav2">SETI Cipher Challenge 2014</a><p></p>


<br>
<br>
</div> 

{% endblock %}