<! The main page, showing the blog entries >
{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<h1> Requested Accounts </h1>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}


<ul class=accounts>
{% for entry in entries %}
<br><br><li><h2>Team name:&nbsp;{{ entry.username }}</h2>
<br><br><li><h2>Team email:&nbsp;{{ entry.teamemail }}</h2>
<!--<h3>Password: {{ entry.password }}</h3>-->
<br><li><h2>School:&nbsp;{{ entry.school }}</h2>
<br><li><h2>School Postcode:&nbsp;{{ entry.postcode }}</h2>
<br><li><h2>Supporting teacher name:&nbsp;{{ entry.teachername }}</h2>
<br><li><h2>Supporting teacher email:&nbsp;{{ entry.teacheremail }}</h2>
<br><li><h2>Team member 1:&nbsp;{{ entry.name1 }}&nbsp; Age:&nbsp;{{ entry.age1 }}</h2>
<br><li><h2>Team member 2:&nbsp;{{ entry.name2 }}&nbsp; Age:&nbsp;{{ entry.age2 }}</h2>

{% if entry.name3  != "" %}
<br><li><h2>Team member 3:&nbsp;{{ entry.name3 }}&nbsp; Age:&nbsp;{{ entry.age3 }}</h2>
{% endif %}
{% if entry.name4  != "" %}
<br><li><h2>Team member 4:&nbsp;{{ entry.name4 }}&nbsp; Age:&nbsp;{{ entry.age4 }}</h2>
{% endif %}
{% if entry.name5  != "" %}
<br><li><h2>Team member 5:&nbsp;{{ entry.name5 }}&nbsp; Age:&nbsp;{{ entry.age5 }}</h2>
{% endif %}

<br>
<form action="{{ url_for('delete_req_account') }}"  method=post class=delete-req>
<dd><input type=checkbox name=confirm>Admin?</input>
<br><br>
<dd><input type=checkbox name=confirm>WARNING! Are you sure you want to delete this account?</input>
<br><br><button style="float:center;"  type="submit" value={{entry.id}} name="delete">Delete</button>
</form>

<form action="{{ url_for('convert_req_account') }}"  method=post class=convert-req>
<br> <button style="float:center;"  type="submit" value={{entry.id}} name="accept">Accept</button>
</form>

<li>
<h1> </h1> 


{% else %}
<li><em>No accounts.</em>
{% endfor %}


{% else %}
<em>Admin only. Login as admin to continue.</em>
{% endif %}
</ul>

{% endblock %}
