<! The main page, showing the blog entries >
{% extends "/mobile/layout.html" %}
{% block body %}



<h1>{{ account.username }}</h1>
<br>
<h2>{{ account.school }}</h2>
<br>
{% if account.logo != None %}
<img src="/static/uploads/{{account.logo}}" width="160" height="160" alt="Team logo"  title="logo" border="0" class="logo" align="left" target="_blank" />
{% else %}
<img src="/static/uploads/alien.png" width="160" height="160" alt="Team logo"  title="logo" border="0" class="logo" align="left" target="_blank" />
{% endif %}


<br>
{% if edit == 1%}
Editing mode!
{% endif %}
<br><br>

{% if session.logged_in and session.username == account.username %}
	<!THIS IS YOUR ACCOUNT ({{account.id}})>

	{% if edit == 1%}
		<h2> Team Bio </h2>
		<br>
		<form action="{{ url_for('edit_profile',n=account.id) }}" method=post class=edit-profile>
		<dd><textarea name=bio rows=5 cols=40 > {{account.bio}} </textarea>
		<dd><input type=submit value=save>
		</form>

		<h3> Choose Team Logo </h3>
		<form action="" method=post enctype=multipart/form-data>
  		<p><input type=file name=file>
     	<input type=submit value=Upload>
		</form>
	{% else %}
		<!- bio ->
		<h2> Team Bio </h2>
		<br>
		{% if account.bio != None%}
			<h2>{{account.bio}}</h2>
		{% else %}
			<h2> No bio yet... </h2>
		{% endif %}

		<form action="{{ url_for('account_profile',n=account.id,edit=1) }}" method=get class=edit-profile>
		<dl>
		<dd><button style="float:center;" type=submit value=edit> Edit Profile </button>
		</dl>
		</form>	
	{% endif %}
{% else %}

	<!- bio ->
	<h2> Team Bio </h2>
	<br>
	{% if account.bio != None%}
		<h2>{{account.bio}}</h2>
	{% else %}
		<h2> No bio yet... </h2>
	{% endif %}
{% endif %}
<br><br>
<!- Team Members ->
	<h2> Team Members: </h2>
	<h2> {{account.name1}}</h2>
	{% if account.name2 != None%}
		<br><h2>{{account.name2}}</h2>
	{% endif %}
	{% if account.name3 != None%}
		<br><h2>{{account.name3}}</h2>
	{% endif %}
	{% if account.name4 != None%}
		<br><h2>{{account.name4}}</h2>
	{% endif %}
	{% if account.name5 != None%}
		<br><h2>{{account.name5}}</h2>
	{% endif %}


<br><br>






{% endblock %}
