{% extends "/mobile/layout.html" %}
{% block body %}


<div id="main_content">



<div id="page_content_left_small">

				
	<div class="title2">
						Tweet Us #BreakTheCode
					</div>	




</div>




<div id="page_content_right_big">
				<p></p>
	<div class="title2">Interesting Seti Links </b>
	</div>




	<div class="links">


<div class="title3">Here are some links we've gathered to sites about SETI searches and related science that might inspire you or aid you during the challenge:
</div>
<p>
</p>


			<li><a href='http://supernova.soton.ac.uk/' onclick="trackOutboundLink('http://supernova.soton.ac.uk/','SotonSupernovae'); return false;" >University of Southampton Supernova Group  </a><p></p>


			<li><a href='http://www.astro.soton.ac.uk/' onclick="trackOutboundLink('http://www.astro.soton.ac.uk/','SotonAstro'); return false;" >University of Southampton Astronomy Group  </a><p></p>

			<li><a href='https://icecube.wisc.edu/' onclick="trackOutboundLink('https://icecube.wisc.edu/','IceCube'); return false;"> The IceCube Detector  </a><p></p>


			<li><a href='http://www.hep.phys.soton.ac.uk/' onclick="trackOutboundLink('http://www.hep.phys.soton.ac.uk/','SotonHEP'); return false;"  >University of Southampton High Energy Physics Group  </a><p></p>

			<li><a href='http://www.southampton.ac.uk/~evans/TS/' onclick="trackOutboundLink('http://www.southampton.ac.uk/~evans/TS/','NickParticle'); return false;" >Prof Nick Evan's guide to Theoretical Particle Physics  </a><p></p>

			<li><a href='http://www.southampton.ac.uk/~sdc1g08/' onclick="trackOutboundLink('http://www.southampton.ac.uk/~sdc1g08/','SamResearch'); return false;" > Dr. Sam Connolly's Research Page  </a><p></p>

			<a href="/2015/home"/>Last year's SETI Cipher Challenge website (2015)
			</a><p></p>
			<a href="/2014/index"/> The 2014 SETI Cipher Challenge website
			</a><p></p>

			<li><a href="https://twitter.com/seti_code">The SETI Cipher Challenge Twitter page 
			</a><p></p>

			<li><a href="http://www.seti.org/"target="_blank"class="nav2">The SETI Institute</a><p>
			</p>

			<li><a href="http://setiathome.ssl.berkeley.edu/"target="_blank"class="nav2"> Search for life using your own computer with SETI@HOME  </a><p>
			</p>

			<!-- <li> <a href="http://exoplanet.eu/"target="_blank"class="nav2">The extrasolar planet data base</a><p>
			</p>

			<li><a href=" http://kepler.nasa.gov/"target="_blank"class="nav2">The planet-hunting mission, Kepler</a><p>
			</p>

			<li> <a href=" http://www.seti.org/ata"target="_blank"class="nav2"> The Allen Telescope Array for listening for extraterrestrials</a><p>
			</p> -->

			<li><a href=" http://www.space.com/search-for-life/"target="_blank"class="nav2">The Search for Life site</a><p>
			</p>

			<li><a href="/static/SETIPoster2016.pdf"target="_blank"class="nav2">SETI Cipher Challenge 2016 Poster</a><p>
			</p>


			<li><a href='/static/SETI2014Ciphers.pdf' > SETI Cipher Challenge 2014 ciphers </a>
			<!-- <li><a href='/static/SETICipherChallengeHandout.pdf' > Student Handout </a> -->
			<p></p>			

{% endblock %}