{% extends "layout.html" %}
{% block body %}


<h1> PRIZES  </h1>   

<div id="main_content">				
<br>


<h1> GCSE: </h1>
<br>
<h2> SCIENCE PRIZES: </h2>


<p></p><b>First prize (&pound;300) - The Incredibles  </b><p></p>


<!-- </p><i> First to get four out of five of the ciphers </i> </b><p> -->

<b><br>Second Prize (&pound;100) - The Spoon Boiz </b><p></p>

<!-- </p><i> Decoding the alien image first and computing the alien day structure </i> </b><p> -->

<hr>
<h2> MEDIA PRIZES: </h2>

<p></p><b>First prize (&pound;100) - Lightning Llamas   </b><p></p>

<b><br>Second Prize (&pound;50) - Duck Quarks Don't Echo   </b><p></p>


<hr>

<p> <h2> Prizes for Outstanding Contributions (&pound;25): </h2> </p>


<li> Nebula </li><br>

<li> Lawrencium 103 </li><br>

<li> Pluto </li><br>
<hr>
<h1> A-Level: </h1>
<br>
<h2> SCIENCE PRIZES: </h2>

<p></p><b>First prize (&pound;300) - Internet Explorer  </b><p>


</p><b><br>Second Prize (&pound;100) - DMMC </b><p>

<hr>
<h2> MEDIA PRIZES: </h2>

<p></p><b>First prize (&pound;100) - WhoKnows   </b><p>

</p><b><br>Second Prize (&pound;50) - Team RADS   </b><p>


<hr>

</p> <h2> Prizes for Outstanding Contributions (&pound;25): </h2> <p>


<li> Chocolate Fudge Brownie</li><br>



</p><br> <p>
If you have won a prize but have not been contacted by the SETI Cipher Challenge team, please email us at seti@soton.ac.uk
</p><br> <p>

</div>	
	
</div>




{% endblock %}
