<! The main page, showing the blog entries >
{% extends "layout.html" %}
{% block body %}

<h1> LIVE CERN Webcast  </h1>
<br><br>
<img alt="" src="/static/ATLAS-VirtualVisits.jpg"  border="3" width="800"> 
<br><br>
On the 3rd day of challenge (Wed 8th July) at 12.30pm student teams will get the chance to participate in a video conference LIVE to the ATLAS control room at the Large Hadron Collider at CERN! 

The Particle Physicists who work with the ATLAS detector will be available to answer questions LIVE! and may even give some clues to help teams #BreakTheCode !

If you have access to a computer at lunchtime on Wednesday please click on the link below:

<br><br>
<a href="https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=P5bTn2wuugkb" > CERN VIDYO PORTAL </a> 
<br><br>
Make sure you are opening the link in Internet Explorer or Firefox (it doesn’t work in Chrome).

After you click this link you will be asked to download a plugin.

After you download this you just need to type in your team name then press the green ‘Join’ button and then you should see both our control room at the University and the ATLAS Control Room at CERN.

If you have any questions or problems joining the room please let us know before Wednesday afternoon!

If you can’t access the webcast live to ask questions you can still watch it online here:
<br><br>
<a href="http://atlas-live-virtual-visit.web.cern.ch/atlas-live-virtual-visit/2015/Southampton-2015.html" > CERN WEBCAST </a> 
<br><br>

<img alt="" src="/static/cernwebcast.png"  border="3" width="800"> 
<br><br>
Technical requirements to participate in these LIVE video chats can be found <a href="http://atlas-live-virtual-visit.web.cern.ch/atlas-live-virtual-visit/pages/ATLASvv-tech.html" > here </a> 



{% endblock %}



