{% extends "2014/layout.html" %}
				
{% block body %}

<div id="main_content">

<p>
</p>

<div id="page_content_left">
				
<div class="title2">
					Science Forum </div>
	
<div class="whiteonblack">
The Science forum is primarily for discussing the science/implications of the Cipher that was released at 10am each day.
<p>
</p>
To post on the science forum e-mail your 
contribution to seti@soton.ac.uk including your team name and password.<p></p>
After moderation of posts 
they will be posted in the science 
forum on each day - see links below: <p></p>

<br>
<p></p><p></p>

<a href="science/1">Day 1 Science Forum</a>

<p></p><p></p>

<a href="science/2">Day 2 Science Forum</a>

<p></p>

<a href="science/3">Day 3 Science Forum</a>

<p></p>

<a href="science/4">Day 4 Science Forum</a>

</p></p>

<b><a href="science/5">Day 5 Science Forum</a></b>

<p></p>
	

</div>
</div>

<div id="page_content_right">
				
	<div class="title2">Media Forum
	</div>

	
<div class="whiteonblack">
The Media 
forum is for submitting media stories/images of events on Earth triggered by the signals.
	
<p></p>
<p></p>
To post on the media forum e-mail your contribution 
to seti@soton.ac.uk including your team name and password.<p>
</p>
After moderation of posts they will be posted in the media forum on each day - see links below:<p>
</p>

<br>
<p></p>
<p>
</p>
<a href="media/1">Day 1 Media Forum</a>
<p></p>
<p></p>
<a href="media/2">Day 2 Media Forum</a>
<p></p>
<p></p>
<a href="media/3">
Day 3 Media Forum</a>	
<p></p>
<p></p>
<a href="media/4">Day 4 Media Forum</a>
</p>

<b><a href="media/5">Day 5 Media Forum</a></b>
<p></p>




	</div>
	

	
</div>



</div>


{% endblock %}
