{% extends "2014/layout.html" %}
				
{% block body %}

<div id="page_content_left">

<p></p>	
		
<img alt="" src="/static/2014/news24b.jpg"  border="0" width="490" height="300">  

</div>

<div id="page_content_right">

<p></p>
	<div class="title2">BREAKING NEWS</div>

<p>
		
<div class="title3">
<p>
Shock news from astronomers who have today 
announced that they have detected a signal of extra terrestrial origin.
The message, if that is what 
it is, is coming from the Northern Sky. 
The signal consists of a series of pulsed radio waves that the 
scientists claim cannot be of natural origin.</p>

<p>
 No translation of the
 signal has yet been made and as a result of this the 
astronomers will release their data in stages to registered members 
of the public at 
10am on the 14th, 15th, 16th, 17th and 
18th July 2014.</p>
<p>
Can you help #BreakTheCode ?
<p>
	
</div>			
<p></p>	<p></p>
</div>
					
<div class="title2">
						
Challenge Complete!!! Click on the link above to see the prize allocation!!
<p></p>
</div>
</div>

{% endblock %}
