
<div align="center"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML xmlns="https://www.w3.org/1999/xhtml">


<head>

<link rel="stylesheet" type="text/css" href="/static/2014/style.css"/>

<TITLE>SETI Cipher 2014</TITLE>
<link rel="icon" type="image/png" href="/static/2014/alienhead2.PNG" />

</head>


<body>

<div id="top_banner">
	
<a href="https://www.twitter.com/seti_code">			
<img src="/static/2014/twitterstar.png" width="79" height="79" alt="home"  title="logo" border="0" class="logo" align="left" target="_blank" />
</a>
<a href="http://www.facebook.com/SotonAstrodome" target="_blank">
<img src="/static/2014/facebookstar.png" width="79" height="79" alt="home"  title="logo" border="0" class="logo"align="left" target="_blank"/>
</a>
<a href="mailto:seti@soton.ac.uk" target="_blank">
<img src="/static/2014/mailstar.png" width="79" height="79" alt="home" align="left" title="logo" border="0" class="logo" />
<a href="/static/2014/index"><img href="https://www.soton.ac.uk/" src="/static/2014/logo_big_white.png"  width="293" align="right" height="79" 
title="logo" border="0" class="logo" />
</a>

<p></p><p></p><p></p>
</div>
  


		  
<div id="templatemo_menu">
<p></p><p></p><p></p>

<ul>
            	        
<li class="current">
<a href="/2014/index">Home</a>
</li>
 
<li>
<a href="/2014/intro" >Intro</a>
</li>

<li>
<a href="/2014/rules">Rules</a>
</li>
        	           
<li>
<a href="/2014/register">Register</a>
 </li>
 
<li>
<a href="/2014/forum">Forum</a>
</li>

<li>
<a href="/2014/scoreboard">Score Board</a>
</li>

<li>
<a href="/2014/prizes">Prizes</a>
</li>

<li class="last">
<a href="/2014/links">Links</a>
</li>

</ul> 

<p></p>	            

</div>


<div id="main_content">

<p></p>

<div class="title">	SETI Cipher Challenge 2014 </div>

{% block body %}{% endblock %}


<div id="page_bottom">

<p></p><p></p><p></p><p></p>
<p></p><p></p><p></p><p></p>	

<a href="http://www.saao.ac.za/">  
<img alt="" src="/static/2014/saao.jpg"  border="0" width="150" height="80" align="center"> 
</a>

<a href="http://www.ska.ac.za/"> 
<img alt="" src="/static/2014/ska.jpg"  border="0" width="150" height="80"align="center"> 
</a>

<a href="https://www.chu.cam.ac.uk/"> 
<img alt="" src="/static/2014/church.png"  border="0" width="150" height="80"align="center"> 
</a> 

<a href="http://www.astro4dev.org/"> 
<img alt="" src="/static/2014/iau_wb.jpg"  border="0" width="150" height="80"align="center"> 
</a>
					
</div>
			
<p></p>		

</div>

</body>

<div id="eXTReMe"><a href="http://extremetracking.com/open?login=nevans2">
<img src="http://t1.extreme-dm.com/i.gif" style="border: 0;"
height="38" width="41" id="EXim" alt="eXTReMe Tracker" /></a>
<script type="text/javascript"><!--
EXref="";top.document.referrer?EXref=top.document.referrer:EXref=document.referrer;//-->
</script><script type="text/javascript"><!--
var EXlogin='nevans2' // Login
var EXvsrv='s9' // VServer
EXs=screen;EXw=EXs.width;navigator.appName!="Netscape"?
EXb=EXs.colorDepth:EXb=EXs.pixelDepth;EXsrc="src";
navigator.javaEnabled()==1?EXjv="y":EXjv="n";
EXd=document;EXw?"":EXw="na";EXb?"":EXb="na";
EXref?EXref=EXref:EXref=EXd.referrer;
EXd.write("<img "+EXsrc+"=http://e0.extreme-dm.com",
"/"+EXvsrv+".g?login="+EXlogin+"&amp;",
"jv="+EXjv+"&amp;j=y&amp;srw="+EXw+"&amp;srb="+EXb+"&amp;",
"l="+escape(EXref)+" height=1 width=1>");//-->
</script><noscript><div id="neXTReMe"><img height="1" width="1" alt=""
src="http://e0.extreme-dm.com/s9.g?login=nevans2&amp;j=n&amp;jv=n" />

</div></noscript></div>

</HTML>


</div>
