{% extends "2014/layout.html" %}
				
{% block body %}

<div id="main_content">



<div id="page_content_left_small">
				<div class="title">
						SETI Cipher Challenge 2014
					</div>
				
	<div class="title2">
						Tweet Us #BreakTheCode
					</div>	

	<p>
</p>
<a class="twitter-timeline" href="https://twitter.com/seti_code" data-widget-id="477095578476613633">Tweets by @seti_code</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





	<p>
</p>


</div>




<div id="page_content_right_big">
				<p></p>
	<div class="title2">Interesting Seti Links </b>
	</div>




	<div class="links">


<div class="title3">Here are some links we've gathered to sites about SETI searches and related science that might inspire you or aid you during the challenge:
</div>
<p>
</p>

<li> <a href="http://www.lofar-uk.org/" class="nav2" target="_blank">LOFAR UK </a>	<p>
</p>
<li> <a href="http://en.wikipedia.org/wiki/Lovell_Telescope" target="_blank"class="nav2">Lovell telescope, Jodrell Bank, UK  </a><p>
</p>
<li> <a href="http://en.wikipedia.org/wiki/Very_Large_Array" target="_blank"class="nav2"> VLA, New Mexico, USA </a>	<p>
</p>
<li><a href="http://en.wikipedia.org/wiki/KAT-7"target="_blank"class="nav2"> KAT-7, South Africa </a>	<p>
</p>
<li> <a href="http://en.wikipedia.org/wiki/Parkes_Observatory"target="_blank"class="nav2">Parkes Radio Telescope, Australia  </a><p>
</p>

<li> <a href="http://en.wikipedia.org/wiki/LOFAR"target="_blank"class="nav2"> LOFAR, across Europe</a>	<p>
</p>
<li><a href="http://www.seti.org/"target="_blank"class="nav2">The SETI Institute</a><p>
</p>

<li><a href="http://setiathome.ssl.berkeley.edu/"target="_blank"class="nav2"> Search for life using your own computer with SETI@HOME  </a><p>
</p>

<li> <a href="http://exoplanet.eu/"target="_blank"class="nav2">The extrasolar planet data base</a><p>
</p>

<li><a href=" http://kepler.nasa.gov/"target="_blank"class="nav2">The planet-hunting mission, Kepler</a><p>
</p>

<li> <a href=" http://www.seti.org/ata"target="_blank"class="nav2"> The Allen Telescope Array for listening for extraterrestrials</a><p>
</p>

<li><a href=" http://www.space.com/search-for-life/"target="_blank"class="nav2">The Search for Life site</a><p>
</p>

<li><a href=" http://www.planetary.org/explore/projects/seti/"target="_blank"class="nav2">The Planetary Society</a><p>
</p>



	</div> 



					<!-- <div class="title2">
						Registration is now open !
					</div> -->




	
</div>


{% endblock %}
