{% extends "2014/layout.html" %}
				
{% block body %}

<div id="main_content">

<p>
</p>

<div id="page_content_right_big">
				
<div class="title2">

					

DAY 3 - Media Forum </div>
	

<div class="whiteonblack">


<b>To post on the media forum e-mail your 
contribution to 
seti@southampton.ac.uk including 
your team name and password.
<hr></b>
We must ask that you do 
not include any property of any organisation, including logos, news introductions or any other 
intellectual property or copywrited material in your submissions. 

If in doubt, please email us.<br><hr>
<br>
<br>

Infinity(2):<br><br> <a href="/static/2014/infin.m4a"> <img src="/static/2014/af.jpg" border="0" width="136"> </a> <br> 3 points <br><hr>

Tomshanoenyu(3):  <br><br> <a href="/static/2014/source leak.mp3"> <img src="/static/2014/af.jpg" border="0" width="136"> </a> 
<br> 3 points <br><hr>
Tomshanoenyu(2):  <br><br>

<iframe width="560" height="315" src="//www.youtube.com/embed/lUgmDR24cjU" frameborder="0" allowfullscreen></iframe>
<br> 3 points <br><hr>

Aphelion(2): <br><br> <a href="/static/2014/ap.wma"> <img src="/static/2014/af.jpg" border="0" width="136"> </a> <br> 3 points <br><hr>

The Fractals(3): <br><br> <img src="/static/2014/com.JPG" border="0" width="536"> <br> 3 points <br><hr>

Turing Machines(2): <br><br> The recent contact with alien life has spurred on many writers around the world churn out 
novels in the hope of profiting from what scientists have been discovering all be it not very scientific but sure 
are entertaining here is an example of one of those stories:<br><br> 

 

We made a mistake. That is the simple, undeniable truth of the matter, however painful it might be. 
The flaw was not in our Observatories, for those machines were as perfect as we could make, and they 
showed us only the unfiltered light of truth. The flaw was not in the Predictor, for it is a device of 
pure, infallible logic, turning raw data into meaningful information without the taint of emotion or bias. 
No, the flaw was within us, the Orchestrators of this disaster, the sentients who thought themselves beyond 
such failings. We are responsible. <br><br> 

It began a short while ago, as these things are measured, less than 6^6 Deeli ago, though I suspect our systems of 
measure will mean very little by the time anyone receives this transmission. We detected faint radio signals from 
a blossoming intelligence 2^14 Deelis outward from the planet 185269. At first crude and unstructured, these leaking 
broadcasts quickly grew in complexity and strength, as did the messages they carried. Through our Observatories we 
watched a world of strife and violence, populated by a barbaric race of short-lived, fast breeding vermin. They were 
brutal and uncultured things which stabbed and shot and burned each other with no regard for life or purpose. Even 
their concepts of Art spoke of conflict and pain. They divided themselves according to some bizarre cultural patterns 
and set their every industry to cause of death. <br><br> 

They terrified us, but we were older and wiser and so very far away, so we did not fret. Then we watched them split 
the atom and breach the heavens within the breadth of one of their single, short generations, and we began to worry.
 When they began actively transmitting messages and greetings into space, we felt fear and horror. Their transmissions
 promised peace and camaraderie to any who were listening, but we had watched them for too long to buy into such 
transparent deceptions. They knew we were out here, and they were coming for us. <br><br> 

The Orchestrators consulted the Predictor, and the output was dire. They would multiply and grow and flood 
out of their home system like some uncountable tide of Devourer worms, consuming all that lay in their path. 
It might take 6^8 Deelis, but they would destroy us if left unchecked. With aching carapaces we decided to act, and sealed our fate. <br><br> 

The Gift they sent  was 8^4 strides long with a mouth 2/4 that in diameter, filled with many 4^4 weights of machinery, fuel, 
and ballast. It would push itself up to 2/8th of light speed with its onboard fuel, and then begin to consume interstellar 
Primary Element 2/2 to feed its unlimited acceleration. It would be traveling at nearly light speed when it hit. They would 
never see it coming. Its launch was a day of mourning, celebration, and reflection. The horror of the act we had committed 
weighted heavily upon us all; the necessity of our crime did little to comfort us. <br><br> 

The Gift had barely cleared the outer cometary halo when the mistake was realized, but it was too late. The Gift could 
not be caught, could not be recalled or diverted from its path. The architects and work crews, horrified at the awful 
power of the thing upon which they labored, had quietly self-terminated in droves, walking unshielded into radiation 
zones, neglecting proper null pressure safety or simple ceasing their nutrient consumption until their metabolic 
functions stopped. The appalling cost in lives had forced the Ochestrators to streamline the Gift’s design and 
construction. There had been no time for the design or implementation of anything beyond the simple, massive engines 
and the stabilizing systems. We could only watch in shame and horror as the light of genocide faded into infrared 
against the distant void. <br><br> 

They grew, and they changed, in a handful of lifetimes they abolished war, abandoned their violent tendencies and 
turned themselves to the grand purposes of life and Art. We watched them remake first themselves, and then their 
world. Their frail, soft bodies gave way to gleaming metals and plastics, they unified their people through an 
omnipresent communications grid and produced Art of such power and emotion, the likes of which the Galaxy has 
never seen before. Or again, because of us. <br><br> 

They converted their home world into a paradise (by their standards) and many 10^6s of them poured out into the 
surrounding system with a rapidity and vigor that we could only envy. With bodies built to survive every 
environment from the day lit surface of their innermost world, to the atmosphere of their largest gas giant 
and the cold void in-between, they set out to sculpt their system into something beautiful. At first we thought 
them simple miners, stripping the rocky planets and moons for vital resources, but then we began to see the 
purpose to their constructions, the artworks carved into every surface, and traced across the system in 
glittering lights and dancing fusion trails. And still, our terrible Gift approached. <br>  <br>  


They had less than 2^2 Deeli to see it, following so closely on the tail of its own light. In that time, 
oh so brief even by their fleeting lives, more than 10^10 sentients prepared for death. Lovers exchanged 
last words, separated by worlds and the tyranny of light speed. Their planet side engineers worked frantically 
to build sufficient transmission infrastructure to upload the countless masses with the necessary neural 
modifications, while those above dumped lifetimes of music and literature from their databanks to make room 
for passengers. Those lacking the required hardware or the time to acquire it consigned themselves to death, 
lashed out in fear and pain, or simply went about their lives as best they could under the circumstances. <br><br> 

The Gift arrived suddenly, the light of its impact visible in our skies, shining bright and cruel even to the unaugmented 
ocular receptor. We watched and we wept for our victims, dead so many Deelis before the light of their doom had even 
reached us. Many 6^4s of those who had been directly or even tangentially involved in the creation of the Gift sealed 
their spiracles with paste as a final penance for the small roles they had played in this atrocity. The light dimmed, 
the dust cleared, and our Observatories refocused upon the place where their shining blue world had once hung in the 
void, and found only dust and the pale gleam of an orphaned moon, wrapped in a thin, burning wisp of atmosphere that 
had once belonged to its parent. <br><br> 

Radiation and relativistic shrapnel had wiped out much of the inner system, and continent sized chunks of molten rock 
carried screaming ghosts outward at interstellar escape velocities, damned to wander the great void for an eternity. 
The damage was apocalyptic, but not complete, from the shadows of the outer worlds, tiny points of light emerged, thousands 
of fusion trails of single ships and world ships and everything in between, many 10^6s of survivors in flesh and steel and 
memory banks, ready to rebuild. For a few moments we felt relief, even joy, and we were filled with the hope that their 
culture and Art would survive the terrible blow we had dealt them. Then came the message, tightly focused at our star, 
transmitted simultaneously by hundreds of their ships. <br><br> 

"We know you are out there, and we are coming for you." <br> 3 points <br> <hr>

Infinity(1): <br><br> 

The same religious societies who were previously in turmoil following the first message from our extra terrestrial friends seem to have been 
presented with a beacon of hope as the third message was released this morning at 10am.<br><br> 

As many of you are probably aware, the number 9 featured and seems to hold a significant role among our alien acquaintances. <br><br> 

Coincidentally (or maybe not…?), the number 9 can be related to most major religions of today:<br><br> 

In Islam, Ramadan- the holy month during which Muslims across the globe spend daylight hours fasting and praying- is the ninth month of the Islamic lunar calendar.<br><br> 

In Judaism, the first nine days of the Hebrew month of Av are collectively known as "The Nine Days"<br><br> 

In the Christian hierarchy there are nine choirs of angels.<br><br> 

In Buddhism, Gautama Buddha, was believed to have nine virtues, which were (1) Accomplished, (2) Perfectly Enlightened, (3) 
Endowed with knowledge and Conduct or Practice, (4) Well-gone or Well-spoken, (5) the Knower of worlds, (6) 
the Guide Unsurpassed of men to be tamed, (7) the Teacher of gods and men, (8) Enlightened, and (9) Blessed.<br><br> 

In Hinduism, the number ?nine is revered and considered a complete, perfected and divine number because it represents the end of 
a cycle in the decimal system, which originated in India thousands of years ago.<br><br> 

So does this mean that the aliens are familiar with same gods and religious teaching are we are here on Earth? 
Or is this yet another demonstration of their vast knowledge of the ways of mankind?<br> 2 points <br> <hr>


The Fractals(2):<br><br> 
Invite you to their web site - click on the image  <br><br>
<a href="http://fractals.moonfruit.com"> <img src="/static/2014/mf.jpg" border="0" width="436"> </a> <br> 7 points <br><hr>

Lunartics(3):<br><br>  <img src="/static/2014/tt.jpg" border="0" width="536"> <br> 2 points <br> <hr>


Nice Dynamite(3): <br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/haorvBRHIJ8" frameborder="0" allowfullscreen></iframe> <br> 3 points <br> <hr>

Aphelion(1): <br><br> 

News announcement on the planet HD 185269 b:<br>

<img src="/static/2014/mes2.jpg" border="0" width="536"> <br> <br>


Key to the extraterrestrials language (using a speculated number based language):<br>
A -00001<br>
B -00010<br>
C -00011<br>
D -00100<br>
E -00101<br>
F -00110<br>
G -00111<br>
H -01000<br>
I -01001<br>
J -01010<br>
K -01011<br>
L -01100<br>
M -01101<br>
N -01110<br>
O -01111<br>
P -10000<br>
Q -10001<br>
R -10010<br>
S -10011<br>
T -10100<br>
U -10101<br>
V -10110<br>
W -10111<br>
X -11000<br>
Y -11001<br>
Z -11010<br>
. -11011<br>
, -11100<br>
! -11101<br><br>

Translation into English:<br><br>

As many of you know we have recently begun the search for life by broadcasting radio signals into the universe. We now know 
that our signal has been detected by a planet hundreds of light years away, however we have not yet received a reply, 
but there is hope as it is obviously an intelligent life form. We will try to broadcast a message directly to this planet 
tonight in the hope of a reply. We have so far sent the relationship between the radius and circumference of a circle, 
sequence of the golden ratio, and the orbital sequence of the atom our planet is made off to try to convey as much 
information as possible. We hope they understand and will reply in peace. To summarise, we have found life!<br> 2 points <br> <hr> 


Team Mitchell(2): <br><br> <iframe width="560" height="315" src="//www.youtube.com/embed/G0ZDH1oU_Yk" frameborder="0" allowfullscreen></iframe> <br> 4 points <br><hr>

Norwich School(2): <br> <br> 
<img src="/static/2014/nn.jpg" border="0" width="536"> <br> 3 points <br> <hr>

Ultra Enigma(3): <br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/YvkTO5q9Bwk" frameborder="0" allowfullscreen></iframe> <br> 6 points <br> <hr> 



Team Mitchell(1):<br>
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/H4CPANdu2k4" frameborder="0" allowfullscreen></iframe>
<br>
<br>9 points <br><hr>
<br>

<br>
Aphelion(1):<br>
<br>
<img alt="" src="/static/2014/Comic.jpg"  border="0" width="536">
<br>
Published in the humour section of the popular magazine ScienceIsCool.<br><br>
<br><br>
http://cho.gr/OiJmb
<br>
<br>7 points <br><hr>
<br>


The Fractals(1):<br>
<br>
<iframe src="http://prezi.com/embed/b9gei__jmmnz/?bgcolor=ffffff&amp;lock_to_path=1&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe>
<br>
<br>7 points <br><hr>
<br>

Nice Dynamite(2):
<br>
Let Them Know!<br>
<br>

<iframe width="560" height="315" src="//www.youtube.com/embed/GlqHASlm5Lg" frameborder="0" allowfullscreen></iframe>
<br>


The stars shine bright in the sky tonight,<br>

Not a spaceship to be seen.<br>

Are we alone in the universe?<br>

Could we be the only thing?<br>
<br>

But we were sent a message,<br>

It had travelled far and wide.<br>

The Fibonacci sequence, and also pi.<br>
<br>

Are they like us? Are we like them?<br>

Potentially they use base 10.<br>

We know they're here, not far from us - In Cygnus.<br>
<br>

Let them know, let them know<br>

They're not alone anymore.<br>

Let them know, let them know<br>

We're listening in awe.<br>
<br>

Make them hear, make them see<br>

We know where they are,<br>

On planet HD185269B.<br>
<br>

It's funny how some distance makes everything seem small.<br>

For them 500 light years may not seem that far at all.<br>
<br>

It's time to see what we can do,<br>

To test our limits, crack their clues.<br>

We know they're here, not far from us - In Cygnus.<br>
<br>

Let them know, let them know<br>

They're not alone anymore.<br>

Let them know, let them know<br>

We're listening in awe.<br>
<br>

We'll make them hear, we'll make them see,<br>

We know where they are.<br>
<br>

They sent electron structures from deep outerspace.<br>

Of superactinides, which in our world are out of place.<br>

They must be powerful to send this out so far.<br>

What will they show us next, from deep within the stars?<br>
<br>

Let them know, let them know<br>

They're not alone anymore.<br>

Let them know, let them know<br>

We're listening in awe.<br>
<br>

Here we wait, until they can see<br>

We know where they are,<br>

On planet HD185269B.<br>
<br>
<br>
<br>9 points <br><hr>
<br>




Ultra Enigma(2)<br>
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/1LO2A1jERw4" frameborder="0" allowfullscreen></iframe>
<br>
<br>4 points <br><hr>
<br>


<br>
Alphabeta(1):<br>
<br>
The new children alien fun book!!!!!!!!!!!
<br><br>
What is your alien name?
<br><br>
A-Frikky   <br><br>                               
B-Blagghs  <br><br>                                  
C-Obbobs   <br><br>                
D-OpaOpa   <br><br>          
E-j@3g     <br><br>            
F-Lloing    <br><br>                
G-Shnabba    <br><br>     
H-Globkin<br><br>
I-Gringle <br><br>
J-Blopit<br><br>
K-Okhris<br><br>
L-Fvasvok <br><br>
 M-Orwwwww<br><br>
N-112554<br><br>
O-Tiddlywinks<br><br>
P-Johrak  <br><br>      
Q-Mommoal<br><br>
R-Qrtyli<br><br>
S-??/';<br><br>
T-Jiubly<br><br>
U-#fl908<br><br>
V-101101011<br><br>
W-Kriqrt<br><br>
X-Hfhhs<br><br>
Y-Uponi<br><br>
Z-Shnipp<br><br>
<br>
<br>2 points <br><hr>
<br>


<br>
Turing Machines(1)<br>
<br>
<br>
<iframe width="420" height="315" src="//www.youtube.com/embed/IRO8ZUJ_4MM" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<br>3 points <br><hr>
<br>




<br>
Ultra Enigma(1):<br>
<br>


Recently, scientists in the UK have received signals which have been decoded to be mathematical sequences. This has led them to believe that the signals were sent by intelligent alien life forms and that we are not alone. But what does this have to do with the most important thing in the universe- football?<br>
<br>
Fifa has hypothesised that if we met these alien beings in the future, we could introduce them to the beautiful game. "If that were to happen,' said head of Fifa, Sepp Blatter, "we would need to develop a world football team." Fifa plans to select the best eleven football players from around the world and form the world's first X1.
Before recent events, Uruguayan international, Luis Suarez, who has recently moved to Barcelona, would have been guaranteed a spot on the team. "Now," commented a Fifa official, "he's more likely to be used in defense of earth if the aliens prove to be hostile." The official went on to explain how the US military is developing a way to send Suarez into space to bite any potential invaders.<br>
<br>
Some players being considered for the world team are Lionel Messi and, given the recent German victory at the world cup, Thomas Muller. Current Chelsea coach, Jose Mourinho is interested in coaching the team. Mourinho, however, expressed his concern at the many new ways of cheating the alien opponents might have given their unknown bodily structure. “For all we know,” said Mourinho, "these aliens could have three, four or even (considering they use the decimal system) ten feet! How are you supposed to dribble past someone with ten feet?"
Mourinho also commented on how goal keeping would be affected. 'Imagine a keeper who could stretch his arms twenty metres!' Conditions for the matches were also considered.' If we go to play on their planet, it is much bigger than earth and has much more gravity so our players will be weighed down while the aliens will be used to it. When they come here, they’ll be used to much greater gravity and will be able to move faster than us on earth!' How exactly the players would travel to the alien planet which is at least 100 light years away was not discussed.
In other news, the world's media seems to have constantly contradicted itself since the news that we're not alone was released. "Some sources are reporting a conversion to a new alien based religion while others are focussing on mass protests occurring throughout the US," said professor of journalism, Iamnot Analien, "none of the news agencies' stories cohere!"<br>
<br>
Professors at the University of the Witwatersrand in Johannesburg have condemned the radio astronomers at the Hartebeesthoek Radio Observatory for not cleaning their sensitive equipment. "14 was misinterpreted as 15 because the astronomers did not clean the guano off their dish!" was the complaint from one professor. The astronomers have hit back, saying that it could have been other interference that caused the misinterpretation.
<br>
<br> 3 points <br><hr>
<br>

<br>
Norwich School(1):<br>
<br>
<img alt="" src="/static/2014/NorwichNews.png"  border="0" width="536">
<br>
<br> 3 points <br><hr>
<br>
<br>
Aciphersoreeyes(2):<br>
<br>
<img alt="" src="/static/2014/untribium.png"  border="0" width="536">
<br>
<br> 2 points <br><hr>
<br>

<br>
Lunartics(3):<br>
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/2QXGRPrCP4E" frameborder="0" allowfullscreen></iframe>
<br>
<br> 3 points <br><hr>
<br>

<br>
Turing Machines(2):
<br>
<br>
David Cameron has set a creative writing challenge for all primary school children. This challenge consisted of writing a short story about the aliens and what they might possibly be like:
Here follows the top three entries
 <br> <br>
Robert M age 8:
All of a sudden, the children who were playing in the park could no longer see the moon. They started the panic. A second later, there was a glowing light shining on them. They didn't know what to do. Then suddenly a little green man came out of nowhere it was an alien, he said his name was Brian and he had come to find out about earth. So he sat through all our lessons. We did maths, English, science, pe (he couldn't run), the at lunch time we played Tag (he couldn't run). Then we remembered the moon had gone turns out it was there space ship.
The end
<br> <br>
Hannah H age 5:
Once upon a time Hannah was playing in the park. She was happy. But then a loud noise happened. It was a space ship. Oh no she said Hannah. What is that! The space ship opened and out came a blue blob.
The end
<br> <br>
Ashley D age 11:
It was a peaceful day, in London, it was really dark, suddenly a space ship (that was large and mysterious) shone down on the city. The Humans were DOOMED!!
A loud voice came from the sky and said "Give us all your chocolate or we will destroy the earth I fire."
I was sitting on a bench at the time with a Kit Kat. But I wasn't going to give in to some silly aliens. So I teleported up on to the ship and beat them up with my ninja skills and accordion rendition of Flight of The Bumble Bees. They died earth was saved for another day thanks to my ninja skills and good looks.
<br>
<br> 3 points <br><hr>
<br>
<br>
Aciphersoreeyes(1):<br>
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/zFS95bZg3KE" frameborder="0" allowfullscreen></iframe>
<br>
<br> +1 point (5 total) <br><hr>
<br>
<br>
Lunartics(1):
<br>
<iframe width="560" height="315" src="//www.youtube.com/embed/hHcipsI0yT0" frameborder="0" allowfullscreen></iframe>
<br>
<br> 3 points <br><hr>
<br>
<br>

<br>
<br>
Alphabeta(1):<br>
<br>
<img alt="" src="/static/2014/setticode.png"  border="0" width="536">
<br>
<br> 1 point <br><hr>
<br>
<br>
Nice Dynamite(1):
<br>
<br>
Throughout the course of the last few days, the aliens have sent us pi, the Fibonacci sequence, and possibly the structure of an atom. However, they have yet to send us any useful information, such as the location of the planet. Are the aliens trying to show off? Scare us? Test our intelligence?
<br>
<br>
Maybe they feel no need to tell us their location. After all, if we aren't able to work out where they are, how are we supposed to communicate them? We find it likely that this is all an elaborate test of intelligence. Perhaps they are waiting for us to reply before they send us anything more useful.
<br>
<br>
If they understand how orbitals fill, they probably have some understanding of quantum physics. We have yet to learn the limit of their knowledge. These aliens could greatly benefit our scientific understanding if they understand science better than we do, and possibly help us produce a "theory of everything".
<br>
<br>
Of course, it could also be a warning. They are attempting to show us their superior intelligence, possibly to prepare us for their impending invasion. No one will believe, in the first years of the twenty-first century, that our affairs are being watched from this timeless world in space.  Minds far superior to ours regard this Earth with envious eyes, and slowly and surely, they draw their plans against us...
<br>
<br>
One interesting coincidence that we have noticed is that the closest mass number to the number of electrons is that of Xenon (131.2). This name is similar to 'xenophobia', which means a fear of foreigners.
<br>
<br>
As an aside, the rumoured missing Malaysian plane has made another appearance today. Staff at the Cardiff Leisure Centre reported the plane wedged into the junior pool in the early hours of this morning. Upon a staff member entering the pool area, the plane yet again vanished. It is unknown how long the plane had resided in the pool before being observed. 
<br><br>3 Points
<br><hr>

Aciphersoreeyes(1)
<br>
<br>
Orbital of Obedience
 <br><br>
Before banishment I worked diligently with my clan,<br>
Yes... I remember it clearly,<br>
Day after day the Caylaes were required to work,<br>
We gave people something to value dearly.<br>
 <br><br>
Each child was strategically designed,<br>
Strategically combined for predestined purpose,<br>
Each atomic configuration and allocation of orbitals,<br>
Was created with a function in mind,<br>
 <br><br>
I never liked it.<br>
Never really understood why?<br>
Why our future should be falsely designed,<br>
Why can't we pick our own destinies?<br>
 <br><br>
They always preached the same word,<br>
And sang the same song,<br>
'We need you because we need the atom,<br>
We need the atom because we need the world'<br>
 <br><br>
They say that the atom is a building block for the universe,<br>
So why should we alter it?<br>
Doesn't changing our atomic structure change the universe?<br>
Change the very world we need to exist?<br>
 <br><br>
The Amysteth never explained any deeper,<br>
The same words became their mantra,<br>
'We need you because we need the atom,<br>
We need the atom because we need the world'<br>
 <br><br>
Why do we need the world?<br>
Is there more to life than Planet Montinight?<br>
Doesn't changing our inner structure doom us?<br>
Doom us for an impending self-destruction.<br>
 <br><br>
I wanted to think.<br>
I wanted to know.<br>
I wanted to live.<br>
I wanted to choose.<br>
 <br><br>
My mind... bound to my thoughts,<br>
Deprived of knowledge,<br>
Avoiding death but serving a life sentence...<br>
Forced to choose the never ending orbital of obedience.<br>
<br> <br>4 Points
<br><hr>



	
</div>
</div>
<p></p>
<p></p><p></p>


<div id="page_content_left_small">
				
	<div class="links">
<div class="title">Twitter Feed
<p> #BreakTheCode
</div>
<p></p>
<a class="twitter-timeline" href="https://twitter.com/seti_code" data-widget-id="477095578476613633">Tweets by @seti_code</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<p></p>
<br> <hr>
<br><p></p>


	</div>
<p></p>

<p></p>


</div>	

	

</div>

<p></p>

<p></p>
<p></p>

</div>

{% endblock %}
