{% extends "2014/layout.html" %}
				
{% block body %}

<div id="main_content">

<p>
</p>

<div id="page_content_right_big">
				

<div class="title2">


					

DAY 4 - Media Forum </div>
	
<div class="whiteonblack">



<b>To post on the media forum e-mail 
your 
contribution to 
seti@southampton.ac.uk including 
your team name and password.<hr></b>
We must ask that you do 
not include any property of any organisation, including logos, news introductions or any other 
intellectual property or copywrited
 material in your submissions. 
If in doubt, please email us.
<br><hr>
<br>

Fractals(3): <br><br> Fractals are updating their web site still <br>
<a href="http://fractals.moonfruit.com/home/4585594002"> http://fractals.moonfruit.com/home/4585594002 </a> <br> 2 points <br><hr>

Fractals(2): <br><br> And an epic we've only just had the time to watch all through
<iframe width="560" height="315" src="//www.youtube.com/embed/WP8KLaPwGsc" frameborder="0" allowfullscreen></iframe>  <br><br> 8 points <br><hr>


Team Mitchell(3): <br><br> One we missed posting last night.. <br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/gTMoTDZ2HhU?list=UUYgAMUGr4jJdLX6cHLNC_mw" frameborder="0" allowfullscreen></iframe> <br><br>
5 points <br> <hr>


Lunartics(3):<br><br>

<a href="sm.wmv"> <img src="/static/2014/vl.jpg" width="300" > </a> <br> 3 points <br><hr>

Infinity(2): <br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/3NXHSkJDRDY" frameborder="0" allowfullscreen></iframe>  <br> 5 points <br><hr>


Turing Machines(3):<br><br>


ALIENS ATTACKING!! ~ Lisa Periwinkle<br><br>

Thursday 18th July 2014<br><br>


Okay guys! I know I've kinda ditched this blog for a while but with GOOD REASONS. Bet ya all heard on the news about 
the ALIENS!! I mean like omg ALIENS. A L I E N S. As in like giant green things from OUTER SPACE!<br><br>


Seriously, am I like the only one freaking out or what? They could potentially kill us and stuff. We are D. O. O. M. E. D.<br><br>


Well anyways, I was, like,  searching the interwebs and stuff and it turns out the aliens actually look like us! 
Apparently they have ten fingers because they count in base 10 (what's base 10...?) and that their DNA RESEMBLES OURS, or something.
<br><br>


So they're humans, right? Isn't that scary? Not for me though,  'cause, like I'm from Mars. 
But I ain't dangerous, you guys know that.<br><br>


But because, you know I kinda don't wanna die I've entered this Game Show thing 
(The Turning Machines Game Show, you know the one with Jack Powers)  and I can win a ticket to get to this 
underground bunker so I can live!!!!!!!!<br><br>


So gotta go refresh up on my physics knowledge (I got an F in GCSE, is that bad?). 
They'll probably ask about the aliens. Something about Pie and the Fibo-something sequence. And atoms. Yeah, I'm gonna win it!!!
<br><br>


This is Lisa Deoxyribonucleic Acid Periwinkle signing out!<br><br>


(PS. Did ya all see those Men in Black guys grab that anonymous guy? The videos on youtube. 
Check it out, I told you all Men in Black was real!!) <br> 2 points<br><hr>


Norwich School(2):<br><br>

<img src="/static/2014/gm.jpg" width="560"> <br> 3 points <br><hr>


Ultra Enigma(3): <br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/XOkR36XNoxQ" frameborder="0" allowfullscreen></iframe>  <br> 7 points <br><hr>

Nice Dynamite(3): <br><br>

“Watch This Space”<br><br>

On a starry, starry night of the 14th of July,<br>
Earth's observatories caught a signal from the sky.<br>
The scientists scratched their heads<br>
Until one of them said:<br>
“You know, I really think this might be Pi”.<br><br>

And true enough, they had sent Pi, once changed from binary.<br>
They must know mathematics, maybe some geometry;<br>
Are they trying to impress us?<br>
Do they think this will distress us?<br>
The “intelligence” was clearly quite the tease.<br><br>

On Earth, the thought of alien life was causing quite a stir:<br>
“The End of Days is coming!” the newspapers concurred<br>
And expert teams thought hard<br>
About this message from the stars<br>
And wondered what it was we had to learn.<br><br>

The Fibonacci sequence was the next signal they sent:<br>
“They've got advanced mathematics! It's the end of times! Repent!”<br>
They're smart, that's surely true<br>
Is that what they want to prove?<br>
They know our knowledge, but to what extent?<br><br>

And then, atomic structures were the next to be transmitted.<br>
“This one can't exist on Earth...” the scientists admitted.<br>
What had they detected?<br>
The scientists reflected<br>
Their planet's chemical makeup was what had been emitted.<br><br>

A clever team of scientists deduced the aliens' time:<br>
Two thousand minutes every day, and in base 10 (not nine!)<br>
“They've got ten digits too?”<br>
Was base-10 a hidden clue?<br>
The world looked up and hoped the stars aligned.<br><br>

The next day's signal held some sets of numbers 1-4;<br>
“They correspond to bases!” the science fellows roared.<br>
They had sent amino acids,<br>
Which was really quite dramatic-<br>
Was it human life they wanted to explore?<br><br>

So they've got amino acids, the base of Earthly life.<br>
Perhaps they're similar to us, that would be quite nice;<br>
But their planet's far too different<br>
For life like ours to be content<br>
(A “Hot Jupiter” world, to be precise.)<br><br>

Who are they, and how can they know  about the human race?<br>
It's much too far to watch us from across the void of space;<br>
Unless they've some technology<br>
That's far beyond our prodigies,<br>
Then observation may not be the case.<br><br>

Their transmissions do, however, remind the world of those<br>
That NASA sent to test for life so many years ago:<br>
First maths, then information<br>
About our specific location<br>
Are they copying our broadcasts, just trying to say hello?<br><br>

Whatever happens, life on Earth will never be the same.<br>
Aliens, angels, ciphers and a certain missing plane;<br>
The scientists bide their time<br>
And await the final sign,<br>
And can only hope their efforts weren't in vain...<br> 3 points <br><hr>





Nice Dynamite(2): <br><br>
With the newest developments offering the possibility that the aliens may know our DNA, people have been panicking. 
There have been claims that some of the people who have gone missing in the past and have never been found were abducted 
by aliens for their study, and they are sending their knowledge of human DNA to scare us.<br><br>

Scientists, however, have assured the public that we are currently under no threat from the aliens, and there are 
a multitude of reasons which prevent them from kidnapping people from Earth. There is no evidence that the sequence 
of amino acids was taken from humans, and could easily be from the aliens, or just a random sequence.<br><br>

There have also been speculations on what the aliens will look like, if we find them. Nothing like us, scientists 
expect – Seeing as the planet is gaseous, they would need to float. We would never be able to withstand the temperature 
on their planet, either. However, if rumours that they live on a spaceship in the general area of the planet are to be 
believed, they could have any appearance. They could even look just like us.<br><br>

In other news, the missing plane has made yet another appearance. One witness described seeing both wings 
sticking out of Big Ben at 5:00 am this morning, before it vanished almost instantly. <br>2 points<br><hr>



Alphabeta(3): <br><br> 
Goeie naand almal. <br><br> 

Hier is die nuus. Soos almal weet is dit net n paar dae terug dat ons uitgevind het dat daar buite ruimtelike wesens is!!! 
Ja almal regte egte ruimtemannetjies.
Ek is amper uit my kouse uit geskok toe ek uitvind! Wel mense dis hoe dit is. Ons president bou lekker groot huis, ons 
paaie word nou belas deur middel van tolhekke en ons brandstof se pryse styg. Nou as dit nie genoeg is nie wil hulle hê 
dat ons hoeveel geld betaal om met hierdie dinge te praat! belaglik 
Jy het dit eerste hier gehoor.<br><br> 

If lost use <a href="http://translate.google.com/"> google translate </a> <br> 3 points <br> <hr>


The Fractals(1): <br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/KbAPWilhD9A" frameborder="0" allowfullscreen></iframe> <br> 6 points <br><hr>

Ultra Enigma(2):<br><br> 
<iframe width="560" height="315" src="//www.youtube.com/embed/8QlJ2YMqiqw" frameborder="0" allowfullscreen></iframe> <br> 6 points <br><hr>

Team Mitchell(2): <br><br> So you thought they couldn't sing...<br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/83OQkPCWt6Y" frameborder="0" allowfullscreen></iframe> <br><br>
Now in space so far away,<br>
Earth and all her inhabitants wait,<br>
Ciphers land upon our ground,<br>
Telling us we are not alone,<br>
Sent over five days,<br>
testing our best scientific minds.<br><br>

Now on earth, Africa and UK,<br>
Four codes have been solved so far,<br>
Pi and Fibbonacci sequence,<br>
Orbital shells and DNA,<br>
Carbon based lifeforms just like us,<br>
who knows what they are?<br><br>

Only one code still remains,<br>
6070 light years away,<br>
who knows what it will contain?<br>
who knows what it will contain?<br><br>

May these messages never end,<br>
through these light years to our friend<br><br>

let's avoid a hostile force,<br>
invasion, ship or alien hoarde,<br>
consuming parisite<br>

Calmly until the morning break,<br>
let the earth lie,<br>
then gently wake.<br> 8 points <br> <hr>








Nice Dynamite(1):<br><br>

<iframe width="560" height="315" src="//www.youtube.com/embed/BjbzBG1AI9A" frameborder="0" allowfullscreen></iframe>

<br><br>
We've got some signals sent from outer space<br>
The Cygnus Constellation's where they're from.<br>
Sent in binary and using base-10<br>
We're going to crack their code, it won't take long.<br>
<br><br>
Crack the code, crack the code<br>
Our team is gonna crack the code!<br>
We're gonna find out what they want<br>
And we know it won't take long<br>
Our team is gonna crack the code.<br>
<br><br>
They've tried to prove their own intelligence<br>
Or maybe they're just trying to test our own?<br>
We've had Pi and Fibonacci<br>
And some atom structures, maybe<br>
One thing's for sure, we're no longer alone.<br>
<br><br>
Crack the code, crack the code<br>
Our team is gonna crack the code!<br>
Are they friend or are they foe<br>
And how much do they know?<br>
Our team is gonna crack the code.<br>
<br><br>
Their newest signal could be DNA<br>
With human bases A, C, G and T<br>
They're aware of human biology<br>
How they got their data's still a mystery....<br>
<br><br>
Crack the code, crack the code<br>
Our team is gonna crack the code!<br>
We're gonna find out what they want<br>
And we know it won't take long<br>
Our team is gonna crack the code.<br>
<br>
<br> 7 points<br><hr>



Turing Machines(2):<br><br>


<iframe width="420" height="315" src="//www.youtube.com/embed/gwVwKbXKjm8" frameborder="0" allowfullscreen></iframe><br>
<br> 5 points<br><hr>


Tomshanoenyu(3):<br><br>

<embed height="50" width="100" src="/static/2014/decrypted signal.mp3" autoplay="false" ><br><br>

<br> 3 points<br><hr>


Team Mitchell(1):<br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/Hqlyk39zIEg?list=UUYgAMUGr4jJdLX6cHLNC_mw" frameborder="0" allowfullscreen></iframe>
<br><br> 5 points <br><hr>

Aphelion(3):<br><br>
Breaking news<br>
Early yesterday morning an official founds scraps of a letter at the back of a desk drawer at the White House. He took the scraps and stuck them together before reporting the letter’s existence to the media. Experts in dating and authenticating historical items have studied the letters thoroughly and have found that the letter is genuine and from the time. The letter mentions a previous letter between Roosevelt and Jansky, but no records of this have been found. We contacted the White House but they refused to give an interview or a statement. This has been speculated as a major cover up by the government and shows there are aliens out there, but now we have to question what else the government has been hiding?
We contacted Jansky’s family and they have provided up with a string of zeros and ones found in his diary, possibly the code mentioned in the letter. We have now contacted leading mathematicians who are working to solve the code and contacted the governments of the UK, China and Russia. This news follows the revelation that radio telescopes have been picking up similar radio signals from the planet HD185269 b over the past few nights. We have limited information at the moment but we will update you when we can.
<br><br>
Below is the image of the letter along with a typed version of what it says.<br><br>
<img src="/static/2014/president letter1.jpeg" width="496" height="563" alt="" title="" /><br>
<img src="/static/2014/president letter 2.jpeg" width="496" height="569" alt="" title="" /><br>
Dear Mr Franklin D. Roosevelt,<br>
I am writing to you on this day as an urgent matter has occurred which I think needs to be brought to your attention immediately.
On August 12th 1934 Mr Karl Guthe Jansky contacted you about a very important matter. While using the radio telescope he received a radio signal from outside the Milky Way. It wasn’t random zeroes and ones like all previous detections, but a set pattern of five ones and then five zeroes before a blip in the signal followed by the repeated pattern again. At the time you made the decision to ignore this discovery as with the worldwide tension you did not want to cause panic.
I am now writing to implore you to reconsider this decision as there have been further developments. Two days ago I received a signal similar to the one received by Jansky. I think this now needs further investigation by America’s top mathematicians and physicists as these signals have become significant now two have been detected. I worry that if nothing is done that there could be an alien invasion as at the moment we do not know what these messages say. I am convinced they have been sent by extra-terrestrials as I do not think the regularity is possible by anything inanimate especially now there have been two.
I hope you consider my suggestion and take immediate action to investigate the threat. I can’t state how much danger we could possibly be in. I hope to have a response soon when I can give further information on my findings.
<br><br>Yours faithfully,<br><br>
Grote Reber
<br><br> 6 points <br><hr>


AlphaBeta(2):<br><br>
Good afternoon world and any outer-space listeners<br>
We are broadcast on all know frequency's and a few unknown. You just heard the new hit single ALIEN. 
<br><br>
In the news.<br>
After finding out that the aliens have the same gene code as what we do the church has re-established itself as the largest religious organisation stating "God created us in his image. If their image is the same as ours then he created them as well" 
<br><br>
The worlds largest social media sites SETI page is now the most well opened page in the history. With 2 billion people getting updates from it.
<br><br>
A man was arrested in USA recently for selling tickets on his "spaceship" 
<br><br>
A new fan club has opened for people who believe "Elvis and Micheal Jackson  are still alive. They just went HOME"
<br><br>
Paranoia spreads with people accusing neighbors of being aliens. One person who wishes his identity to remain anonymous said " Team mitc***" must be aliens. That is the only possible way they could have made such deep observations on the code. One man even accused him of being a "Time Lord"
<br><br>
What happens in Vegas doesn't stay in Vegas. A man believing the world was about to end went on a spree in Vegas. These images made their way on to the internet an he is now a international hit.
<br><br>
You heard it here first.
<br><br> 2 points <br><hr>

Ultra Enigma(1):<br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/P7sbpuQVuOU" frameborder="0" allowfullscreen></iframe>
<br><br> 6 points <br><hr>

Lunartics(2):<br><br>
As scientists from around the world have their heads down trying to figure out these signals for the past few days, some countries feel that they are being overlooked. 
<br><br>
One country that particularly feels ignored is Germany, as their newspapers react badly:<br>
"Marsmenschen kontaktieren unsere Welt, aber wo ist Deutschland? Noch in Rio."
<br><br>
Germany returns from their triumphant glory in the World Cup, but they realised they have been left in the dark.
<br><br>
Some papers are talking about how the other countries spear-heading this programme do not fully trust the Germans. Some other tabloids believe that if they (Germany) learnt important or dangerous information from the transmissions, all the other countries think that they might use this selfishly to their advantage.
<br><br>
It is clear that not everyone has forgiven Germany for their past mistakes, or maybe some people or sobbing over their defeat in the World Cup, but we are still unsure whether these signals are a threat to humanity or not. 
Since these past transmissions have shown that the aliens could harbour knowledge about the human race, this is not the time for intra-planetary disputes, but the time for true perseverance and determination.
<br><br> 2 points <br><hr>

Aphelion(2):<br><br>
<iframe width="560" height="315" src="//www.youtube.com/embed/dk-V0Y8YaGw?list=UUMuBcCAPOmSO5iC57ih1QQQ" frameborder="0" allowfullscreen></iframe>
<br><br> 8 points <br><hr>

Aphelion(1):<br><br>
<a href="http://storybird.com/books/10-ways-the-aliens-will-end-the-world/"><img src="/static/2014/worldend.png" width="584" height="367" alt="" title="" /></a>
<br>Click on the picture!
<br><br> 7 points <br><hr>

Infinity(1):<br><br>
<img src="/static/2014/weneedyou.jpg" width="396" height="563" alt="" title="" />
<br><br> 3 points <br><hr>

Norwich School(1):<br><br>
<div align="center"><img src="/static/2014/Aliensarereal.jpg" width="562" height="397" alt="" title="" /></div>
<br><br> 2 points <br><hr>

Tomshanoenyu(2):<br>
<br>
Information regarding the Russian government’s response to the recent extra-terrestrial signals has been leaked to us. The Russian government as suspected is in panic because of a major security breach. However our source was unable to gather the exact details of the leakage however we do know that it involves Russian nuclear capabilities. Whether this is nuclear power capabilities or nuclear weaponry capabilities is unknown to us. However the question is are these in some way a response to the alien messages which we have been receiving from the extra-terrestrials? Are the Russians calculating if they have the power and resources to send a signal to the aliens so that they could make first contact with the aliens? This is a possibility because if we know that they are discussing nuclear power capabilities then we can assume that they may be attempting to build more nuclear power facilities in order to generate the amount of power needed to send a signal to the aliens.
<br><br>
Of course sending a signal to the extra-terrestrials is bound to be worth the power needed to send the signal. The more we communicate together the more we will be able to learn about each other which have an endless amount of advantages for us. The possibility of them trying to generate enough power to send a signal grows as over Russia there have been fairly frequent power cuts recently ever since this morning, could this be an attempt to store up enough power to send a signal at the consequence of the quality of life of the Russian people. Anything is possible with the panic of the knowledge that alien life forms now exist. Perhaps similarly to the space race a race has already begun between Russia and the US to attempt to send a signal in response to the extra-terrestrials signal, although in the US there is less obvious evidence to suggest that a response to the extra-terrestrials is trying to be formed.
<br><br>
Otherwise it is possible that the Russians are thinking about strengthening their defences in case of alien invasion. After all some of the teams working on the codes appear to believe that the signals the extra-terrestrials are sending us are tests of our intelligence. Perhaps if we fail a test they will realise that we are not worth the work of sending signals to and could attempt to invade us as a result of this. Why invade us you ask? The main reason would be for our resources and for space to build upon.
<br><br>
In other international news today after the discovery that today the aliens have sent us some DNA coding some scientists question if the aliens are among us and if it is true that in fact some of us have been abducted by aliens for their own research purposes. This is of course unlikely because surely they would not need to send radio signals from Cygnus when they are so close to us to be able to experiments on us. More and more unusual theories have been created by people as it becomes more and more apparent that we are not alone in the universe. Even the most ridiculous of theories are being believed since people are so confused from these signals; people just don’t know what to believe anymore.
<br><br>
Religions too have started to respond to the new discoveries. For example today the Pope made a statement claiming that these extra-terrestrials do not exist. He stated that it is just too much of a coincidence that so far the ‘extra-terrestrials’ have so far only sent us information that we know about. For example pi the Fibonacci sequence, atomic orbital structures and now DNA sequences. It is therefore unlikely that they are being sent by aliens but they have in fact just been sent by us but have somehow been reflected back to us. Of course the Pope was unable to explain this but he clearly stands firm in his ideas.
<br><br>
Other religious groups have been formed hailing the aliens as our creators and therefore among them is our God, with the discovery of the DNA sequences of ours and the aliens being fairly similar it may even be possible that we were created by them. Of course because of evolution we will not be exactly the same since our planets are different and we will therefore adapt differently to our surroundings causing us to be fairly different to our potential ‘creators’ so our genetic codes will not be exactly the same but similar which is what the DNA code which they have sent us suggests.
<br><br>
Some religions have adapted by accepting the existence of the extra-terrestrials but by stating that this isn’t the end of religion. As long as they can have faith their faith can still exist and be part of a modern world with extra-terrestrials.
<br><br> 3 points <br><hr>


Tomshanoenyu(1):<br>
<br>
<img src="/static/2014/evilspaceducks.jpg" width="480" height="339" alt="" title="" />
<br><br> 1 points <br><hr>

AlphaBeta(1):<br>
<br>
<a href="http://thebosses2015.wix.com/everythinget">http://thebosses2015.wix.com/everythinget</a>
<br><br> 3 points <br><hr>

Turing Machines(1):<br>
<br>
<iframe width="420" height="315" src="//www.youtube.com/embed/5ieE1Rr7iQ0" frameborder="0" allowfullscreen></iframe>
<br><br> 3 points <br><hr>

Lunartics(1):<br>
<br>

Aliens: could they walk among us, or have they already?<br><br>

Top scientists from around the world have just had their fourth data release and are still hard at work trying to uncover what this transmission is saying and what it will mean to planet Earth and the human race.
<br><br>
We have learnt from a reliable source that this new information from today could cement the idea that these aliens aren't far away from mankind due to the use of number combinations that one could not simply pick from the air. 
<br><br>
In the past data releases, they have used pi, an irrational number that mathematicians use as a constant, the ratio of a circle's circumference to diameter: 3.1415926535... This could in deed mean that they too have the same understanding of circular mathematics. 
However, some people could say this is a coincidence. Do some people need more proof? Then continue reading.
<br><br>
This use of pi means that they are using number base 10. This is a customary base system for us humans, as we have ten fingers therefore the perfect system for us. In that case, does this mean that these aliens also have ten fingers?
<br><br>
Today, we have been given knowledge from leading scientists that the information extracted from this transmission could link our DNA with the alien's.
They have used the numbers 1, 2, 3 and 4 in different sequences. Some of you might be thinking this is the same idea as the pi dilemma and that they are now using base system 4. This is incorrect. In fact, they are referring to the proteins in human DNA: T, C, A and G. This shows that they also have an understanding of genetics like us. Could this prove that they are also genetically similar to us Homo Sapiens as well as intellectually?
<br><br>
Some scientists believe they must really similar to the human race both mentally and physically, however others believe that the similarities are too suspicious. That maybe they've been spying on us for a while now. Maybe just a day, maybe a week, or maybe a decade and have been lying in waiting for the right time. And that time is now.?
<br>
<br> 2 points <br><hr>

<br> <br><hr>

	
</div>
</div>
<p></p>
<p></p><p></p>



<div id="page_content_left_small">
				
	<div class="links">
<div class="title">Twitter Feed
<p> #BreakTheCode
</div>
<p></p>
<a class="twitter-timeline" href="https://twitter.com/seti_code" data-widget-id="477095578476613633">Tweets by @seti_code</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<p></p>
<br> <hr>
<br><p></p>



	</div>
<p></p>

<p></p>



</div>	

	

</div>

<p></p>

<p></p>
<p></p>

</div>


{% endblock %}
