{% extends "2014/layout.html" %}
				
{% block body %}
   

<div id="main_content">

<p>
</p>
<div class="title">
	PRIZES  </div>   
<div class="title4">  	What a great week everyone! The science competition felt like real science 
after a big discovery - fast release of data and opinions, with lots of people contributing
before someone  nails the result. The media submissions far exceeded our expectations - just some amazing stuff in there.  We hope you all enjoyed yourselves. 
On to the prizes...  				
</div>
	            

</ul> 
<p><p>    
</p>
	            
</div>



<div id="main_content">

<p>
</p>

<div id="page_content_left">
				



<div class="title">UK Prizes </div>


<p></p>
	
<div class="title4">

<p>



</p> <b> SCIENCE PRIZES: </b> <p>

</p><br> <p></p><b>First prize (&pound;300) -  Team Mitchell </b><p>

</p><i> First to get four out of five of the ciphers </i> </b><p>

</p><b><br>Second Prize (&pound;150) - Nice Dynamite </b><p>

</p><i> Decoding the alien image first and computing the alien day structure </i> </b><p>

</p><b><br>Third Prize (&pound;75) - The Fractals</b><p>
</p>
</p><i> Getting stuck into the calculations of beam strength and Goldilocks zones & first to identify HD185269 </i> </b><p>

</p><br><br> <p>
</p> <b> Consolation Science Prizes of &pound;25: </b> <p>
</p> <b> RSETI </b>- <i> rendering the final alien picture, decoding numeric sequences on days 2-4 </i><p>
</p><b>Lunartics </b> - <i> making the links to CODON sequences and spotting the aliens have extra elements  </i><p>
</p><b>Pi-gressives </b> - <i> for nice commentaries on DNA and fast decoding </i><p>


</p><br> <p>

</p> <b> MEDIA PRIZES: </b> 
<p>

</p><br> <p></p><b>First prize (&pound;175) -  Team Mitchell </b><p>

</p><i> Outstanding video submissions  </i> </b><p>

</p><b><br>Second Prize (&pound;75) - The Fractals </b><p>

</p><i> Wide range of media presentations from video to a web site   </i> </b><p>

</p><b><br>Third Prize (&pound;50) - Aphelion</b><p>
</p>
</p><i> Cartoons, childrens books and a board game  </i> </b><p>

</p><br><br> <p>
</p> <b> Consolation Media Prizes of &pound;25: </b> <p>
</p> <b>The Turing Machines </b>- <i> video news, game shows and conspiracy</i><p>
</p><b>Nice Dynamite </b> - <i> Let them know!  </i><p>
</p><br> <p>

</p> <b> Bonus prizes of &pound;25 for all round contribution: </b> 
</p><b>Aciphersoreeyes </b>  </i><p>

</p><b>Tomshanoenyu </b>  </i><p>

</p><b>Infinity </b>  </i><p>

</p><b>Norwich School </b>  </i><p>


</p><br> <p>







</p>
</div>	

<p>

</p>	
	
</div>

<div id="page_content_right">




<div class="title">South African Prizes</div>

</p>

<div class="title4">
</p>Final prize amounts to be decided by SA Organising Team <p>

</p><br> <p>
</p> <b> SCIENCE PRIZES: </b> <p>

</p><br> <p></p><b>First prize   -  Ultra Enigma </b><p>

</p><i> Fast decoding and spotting the 15 vs 14 issue </i> </b><p>

</p><b><br>Second Prize  - Alphabeta </b><p>

</p><i> All round contributions</i> </b><p>

</p><br><br> <p>

</p><br> <p>

</p> <b> MEDIA PRIZES: </b> 
<p>

</p><br> <p></p><b>First prize  -  Ultra Enigma </b><p>

</p><i> Songs, innovative videos and good sportsmanship  </i> </b><p>

</p><b><br>Second Prize   - Alphabeta </b><p>

</p><i> Tachyons, conspiracy, and Africaans </i> </b><p>

</p><br><br> <p>

</div>

</div>


{% endblock %}