{% extends "2014/layout.html" %}
				
{% block body %}

<div id="main_content">

<p>
</p>

<div id="page_content_left_small">
				<div class="title">
						
SETI Cipher Challenge 2014
					</div>
				
					
	<p>
</p>	
			

<img alt="" src="/static/2014/news24b.jpg"  border="3" width="245" height="150">  
	<p>
</p>
	<p>
</p>



	<p>
</p>



</div>





<div id="page_content_right_big">

<div class="title2">
				
How to Register:
					</div>
<div class="blackonwhite">
<p></p>
Registration is now open (and will close on the Sunday 13th July, 5pm UK BST)
<p></p>
To register you must form a team between 1 and a "class" of pupils aged 14-18.
<p></p>
You need to have a school teacher supporting you to confirm you are eligible.
<p></p>
NOTE: You do not have to be actually in school at the time of the challenge (some schools would have already broken up for the summer) however, we still need the teacher name and email to show you are actually from a school in either the UK or SA.
<p></p>
Please send an email to seti@soton.ac.uk with the subject 'Registration'.
<p></p>
Please include all the information below in your email:
<p></p>
<p></p><b><div class="blackonwhiteleft">
Team Name:<p></p>
Password:<p></p>
School Name:<p></p>
Supporting Teacher's Full Name:<p></p>
Supporting Teacher's Email:<p></p>
<p></p>	
</b>
When you register you should receive a confirmation email within 3 days.
	</div>
</div>
<p></p>
<p></p>
	<p></p>			

</div> 



<!-- <div class="title2">	Registration is now open !	</div> -->







	

	
</div>



</div>

{% endblock %}