{% extends "2014/layout.html" %}
				
{% block body %}

<div id="main_content">

<p>
</p>

<div id="page_content_left_small">
				<div class="title">
						SETI Cipher Challenge 2014
					</div>
				
					
	<p>
</p>	
			
<div class="title">Twitter Feed
</div>

<p></p>
<a class="twitter-timeline" href="https://twitter.com/seti_code" data-widget-id="477095578476613633">Tweets by @seti_code</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<p></p>
	<p>
</p>



	<p>
</p>


</div>




<div id="page_content_right_big">
				<p></p>
	<div class="title2">RULES</b>
	<p>
</p>

<div class="whiteonblack">
<li> This is our competition so our decisions on anything are final! 
<p>
</p>
<li> Teams must be made up of school students aged 14-18 at a school in the UK or South Africa. A team can have between 1 person and a class (we're happy to be somewhat loose about this - ask us if you're not sure), supported by a teacher.<p>
</p>
<li> During each day of the competition each team may submit 3 contributions to the Science Forum and 3 contributions to the Media Forum. You should
e-mail these to us at seti@soton.ac.uk with the subject being your team name and password. <p>
</p>
The limit on the number of submissions is partly to stop us from being completely swamped (we have to moderate all submissions and score them) 
but also to encourage carefully thought through submissions (which will score more points).<p>
</p>
<li> Any point scoring submission will be posted on the appropriate Forum. Once an "idea" is posted no-one else can score for it. <p>
</p>
<li> You can get points on the Science Forum for making novel contributions - these can include decoding the signal, speculating on its meaning, exploring the ramifications
of any aspect of the discovery, reviewing related known facts, etc.
<p>
</p>
<li> You can score points on the Media Forum by submitting media stories of events on Earth triggered by the signals. <p>
</p>
<li> Plaigarism policing - plaigarism (directly copying someone else word for word)  in the real world is a nasty thing (rewriting something
in your own words is fine)- of course we're only a game - but the rule is that if anyone posts something "clearly plaigarised"
(that's in our view) and another team reports it to us, the reporting team wins the points off the plaigarisign team! 
</div> 
	<p>
</p>
<br>
<hr>
<br>
<hr>
</div> 




					
	

	
</div>



</div>


{% endblock %}