{% extends "2014/layout.html" %}
				
{% block body %}



<div id="main_content">

<p>
</p>

<div id="page_content_left">
				






<div class="title2">Science Competition </div>




<div class="title">Score Board </div>


<p></p>
	
<div class="title4">

<p>


</p><b>Team Mitchell - 59 points </b><p>
</p><b>Nice Dynamite - 52 points</b><p>
</p>
<b>The Fractals - 48 points</b><p>

</p><b>RSETI - 40 points</b><p>
</p><b>Lunartics - 28 points</b><p>
</p><b>Aphelion - 27 points </b><p>

</p><b>The Pi-gressives - 26 points</b><p>

</p><b>Tomshanoenyu - 22 points</b><p>
</p><b>Ultra Enigma - 20 points</b><p>

</p><b>Infinity - 15 points</b><p>
</p><b>Aciphersoreeyes - 14 points</b><p>
</p><b>Alphabeta - 12 points</b><p>
</p><b>Globular - 11 points</b><p>

</p><b>The Turing Machines - 9 points</b>
<p>
</p><b>Norwich School - 9 points</b><p>
</p><b>Flowers - 8  points</b><p>
</p><b>Little Green Men - 8 points</b><p>
</p><b>J.A.R.V.I.S. - 5 points</b><p>
</p><b>Lggs12 - 5 points</b><p>
</p><b>Death Star - 5 points</b><p>
</p><b>KRS - 5 points</b><p>
</p><b>Team Parallax - 4 point</b><p>

</p><b>A CAR - 3 points </b><p>


</p><b>MTBS - 3 points</b><p>

</p><b>AppleSource - 3 points</b><p>
</p><b>Wessex Sceptics - 2 points</b>
<p>

</p><b>It's a Trap! - 2 points</b><p>
</p>BBB - 0 points<p>
</p>Carisbrooke - 0 points<p>
</p>CH1CK3N NU993T$ - 0 points<p>

</p>CHSAC1 - 0 points<p>

</p>cmd.EXE - 0 points<p>

</p>Derby Destroyers - 0 points<p>

</p>Inphase - 0 points<p>
</p>Jak_Ahmed - 0 points<p>

</p>Jam Sponge - 0 points<p>

</p>Kyle Stalker - 0 points<p>

</p>Major Tom - 0 points<p>
</p>Paul's Team - 0 points<p>

</p>Rhuddiad - 0 points 	<p>
</p>Steampunk - 0 points<p>

</p>Supernova - 0 points <p>

</p>The New Blue Stars - 0 points<p>

</p>The Tan Gents - 0 points<p>
</p>Wellingaliens - 0 points<p>
</p>Wheelers - 0 points<p>

</p>Woodlands - 0 points<p>


</p>
</div>	

<p>

</p>	
	
</div>

<div id="page_content_right">



<div class="title2">


Media Competition 
</div>


<div class="title">Score Board </div>
<p>


</p>

<div class="title4">

</p><b>Team Mitchell - 73 points</b><p>
</p><b>The Fractals - 65 points</b><p>
</p><b>Aphelion - 58 points</b><p>
</p><b>Ultra Engima - 57 points</b><p>
</p><b>Nice Dynamite - 46 points</b><p>
</p><b>The Turing Machines - 40 points</b><p>

</p><b>Lunartics - 33 points</b><p>
</p><b>Tomshanoenyu - 23 points</b><p>
</p><b>Alphabeta - 21 points</b><p>

</p><b>Infinity - 19 points</b><p>

</p><b>Norwich School - 18 points</b><p>


</p><b>Aciphersoreeyes - 17 points</b><p>
</p><b>Globular - 11 points</b><p>

</p><b>The Pi-gressives - 9 points</b><p>
</p><b>J.A.R.V.I.S. - 6 points</b><p>
</p><b>Flowers - 4 points</b><p>

</p><b>Major Tom - 2 points</b><p>

</p><b>Wessex Sceptics - 1 points</b><p>
</p><b>Jam Sponge - 1 points</b><p>
</p>A CAR - 0 points<p>
</p>AppleSource - 0 points<p>
</p>BBB - 0 points<p> 

</p>Carisbrooke - 0 points<p>
</p>CH1CK3N NU993T$ - 0 points<p>
</p>CHSAC1 - 0 points<p>
</p>cmd.EXE - 0 points<p>
</p>Death Star - 0 points<p>

</p>Derby Destroyers - 0 points<p>
</p>Inphase - 0 points<p>
</p>It's a Trap! - 0 points<p>
</p>Jak_Ahmed - 0 points<p>
</p>KRS - 0 points<p>

</p>Kyle Stalker - 0 points<p>
</p>Lggs12 - 0 points<p>
</p>Little Green Men - 0 points<p>
</p>MTBS - 0 points<p>
</p>Paul's Team - 0 points<p>

</p>Rhuddiad - 0 points<p>
</p>RSETI - 0 points<p>
</p>Steampunk - 0 points<p>
</p>Supernova - 0 points<p>
</p>Team Parallax - 0 points<p>

</p>The New Blue Stars - 0 points<p>
</p>The Tan Gents - 0 points<p>
</p>Wellingaliens - 0 points<p>
</p>Wheelers - 0 points<p>

</p>Woodlands - 0 points<p>

</p>
</div>
<p>


</p>
<p>
</p>
	
</div>

</div>

{% endblock %}